---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: vault
  namespace: argocd
spec:
  generators:
  - list:
      elements:
      - name: mnger-1
        server: https://kubernetes.default.svc
  template:
    metadata:
      name: {{`'{{name}}-vault'`}}
      labels:
        name: vault
    spec:
      project: vault
      source:
        repoURL: https://helm.releases.hashicorp.com
        targetRevision: {{ .Values.chartVersion }}
        chart: vault
        helm:
          releaseName: vault
          valuesObject:
            server:
              dev:
                enabled: true
                devRootToken: meshlab123
              service:
                type: LoadBalancer
                port: 80
                annotations:
                  coredns.io/hostname: vault.demo.lab
      destination:
        server: {{`'{{server}}'`}}
        namespace: vault
      syncPolicy:
        syncOptions:
        - CreateNamespace=true
