---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: kiali-operator
  namespace: argocd
spec:
  generators:
  - list:
      elements:
      - name: mnger-1
        server: https://kubernetes.default.svc
  template:
    metadata:
      name: {{`'{{name}}-kiali-operator'`}}
      labels:
        name: kiali-operator
    spec:
      project: monitoring
      source:
        repoURL: https://kiali.org/helm-charts
        targetRevision: {{ .Values.chartVersion }}
        chart: kiali-operator
        helm:
          releaseName: kiali-operator
          valuesObject:
            cr:
              create: true
              namespace: monitoring
              spec:
                deployment:
                  service_type: LoadBalancer
                server:
                  port: 80
                auth:
                  strategy: anonymous
                kubernetes_config:
                  cluster_name: {{`'{{name}}'`}}
                clustering:
                  ignore_home_cluster: true
                external_services:
                  grafana:
                    internal_url: http://grafana.monitoring
                    external_url: http://127.0.0.1:8084
                  prometheus:
                    url: http://prometheus-server.monitoring
      destination:
        server: {{`'{{server}}'`}}
        namespace: monitoring
