---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: grafana
  namespace: argocd
spec:
  generators:
  - list:
      elements:
      - name: mnger-1
        server: https://kubernetes.default.svc
  template:
    metadata:
      name: {{`'{{name}}-grafana'`}}
      labels:
        name: grafana
    spec:
      project: monitoring
      source:
        repoURL: https://grafana.github.io/helm-charts
        targetRevision: {{ .Values.chartVersion }}
        chart: grafana
        helm:
          releaseName: grafana
          valuesObject:
            adminPassword: meshlab123
            adminUser: admin
            grafana.ini:
              auth.anonymous:
                enabled: true
                org_name: MeshLab
                org_role: Viewer
            datasources:
              datasources.yaml:
                apiVersion: 1
                datasources:
                - name: Prometheus
                  type: prometheus
                  access: proxy
                  orgId: 1
                  url: http://prometheus-server.monitoring.svc
                  isDefault: true
            service:
              type: LoadBalancer
              port: 80
              annotations:
                  coredns.io/hostname: grafana.demo.lab
            grafana.ini:
              feature_toggles:
                provisioning: true
                kubernetesDashboards: true
      destination:
        server: {{`'{{server}}'`}}
        namespace: monitoring
