---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: istio-istiod
  namespace: argocd
spec:
  generators:
  - clusters:
      selector:
        matchLabels:
          argocd.argoproj.io/secret-type: cluster
  template:
    metadata:
      name: {{`'{{name}}-istio-istiod'`}}
      labels:
        name: istio-istiod
    spec:
      project: istio
      source:
        repoURL: https://h0tbird.github.io/forked-istio
        targetRevision: {{ .Values.chartVersion }}
        chart: istiod
        helm:
          releaseName: istio-istiod
          valuesObject:
            profile: ambient
            revision: {{ .Values.chartVersion | replace "." "-" }}
            revisionTags: [ "stable", "canary" ]
            pilot:
              image: ghcr.io/h0tbird/pilot:1.28.3-patch.1-dev-debug
              autoscaleEnabled: false
              env:
                AUTO_RELOAD_PLUGIN_CERTS: true
                PILOT_ENABLE_WORKLOAD_ENTRY_AUTOREGISTRATION: true
                PILOT_ENABLE_WORKLOAD_ENTRY_HEALTHCHECKS: true
                ISTIOD_CUSTOM_HOST: {{`'istiod.{{name}}'`}}
                ENABLE_NATIVE_SIDECARS: true
            global:
            # hub: ghcr.io/h0tbird
            # tag: 1.28.3-patch.1-dev
              variant: "debug"
              meshID: {{`'{{metadata.labels.cell}}'`}}
              network: {{`'{{metadata.labels.cell}}'`}}
              logAsJson: true
              defaultPodDisruptionBudget:
                enabled: false
              multiCluster:
                enabled: true
                clusterName: {{`'{{name}}'`}}
              proxy:
                privileged: true
                clusterDomain: {{`'{{metadata.labels.cell}}.local'`}}
            meshConfig:
              accessLogFile: /dev/stdout
              accessLogEncoding: JSON
              trustDomain: {{`'{{metadata.labels.cell}}.local'`}}
              defaultConfig:
                holdApplicationUntilProxyStarts: true
                proxyMetadata:
                  ISTIO_META_DNS_CAPTURE: "true"
                  ISTIO_META_DNS_AUTO_ALLOCATE: "true"
              enableTracing: true
              extensionProviders:
              - name: otel-tracing
                opentelemetry:
                  port: 4318
                  service: otelco-cluster-opentelemetry-collector.monitoring.svc
                  http:
                    path: "/v1/traces"
                    timeout: 5s
                  resource_detectors:
                    environment: {}
      destination:
        server: {{`'{{server}}'`}}
        namespace: istio-system
      ignoreDifferences:
      - group: admissionregistration.k8s.io
        kind: ValidatingWebhookConfiguration
        jsonPointers:
        - /webhooks/0/failurePolicy
