---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: istio-nsgw
  namespace: argocd
spec:
  generators:
  - clusters:
      selector:
        matchLabels:
          argocd.argoproj.io/secret-type: cluster
  template:
    metadata:
      name: {{`'{{name}}-istio-nsgw'`}}
      labels:
        name: istio-nsgw
    spec:
      project: istio
      sources:
      - repoURL: https://h0tbird.github.io/forked-istio
        targetRevision: {{ .Values.chartVersion }}
        chart: gateway
        helm:
          releaseName: istio-nsgw
          valuesObject:
            revision: {{ .Values.chartVersion | replace "." "-" }}
            autoscaling:
              enabled: false
            env:
              ISTIO_BOOTSTRAP_OVERRIDE: /etc/istio/custom-bootstrap/custom_bootstrap.json
            volumes:
              - name: custom-bootstrap
                configMap:
                  name: istio-ns-custom-bootstrap
            volumeMounts:
              - name: custom-bootstrap
                mountPath: /etc/istio/custom-bootstrap
      - repoURL: https://github.com/h0tbird/meshlab.git
        targetRevision: master
        path: conf/istio
      destination:
        server: {{`'{{server}}'`}}
        namespace: istio-system
      syncPolicy:
        syncOptions:
        - CreateNamespace=true
