---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: istio-cni
  namespace: argocd
spec:
  generators:
  - clusters:
      selector:
        matchLabels:
          argocd.argoproj.io/secret-type: cluster
  template:
    metadata:
      name: {{`'{{name}}-istio-cni'`}}
      labels:
        name: istio-cni
    spec:
      project: istio
      source:
        repoURL: https://h0tbird.github.io/forked-istio
        targetRevision: {{ .Values.chartVersion }}
        chart: cni
        helm:
          releaseName: istio-cni
          valuesObject:
          # profile: ambient
            cni:
              pullPolicy: IfNotPresent
              excludeNamespaces:
              - istio-system
              - kube-system
      destination:
        server: {{`'{{server}}'`}}
        namespace: istio-system
      syncPolicy:
        syncOptions:
        - CreateNamespace=true
